@import "@/shared/shared.scss";

.pokemon-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 180px;
  margin-left: 25px;
  @media screen and (max-width: 700px) {
    margin-top: 250px;
  }
}

.pokemon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.5s;
  animation-name: slidein;
  height: 400px;
  width: 20rem;
  color: $background-color;
  margin: auto;
}

@keyframes slidein {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

.pokemon {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.1s ease-out;
  &:hover {
    width: 95%;
    height: 95%;
  }
}

.pokemon-image {
  width: 12rem;
}

.pokemon-image-container {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  width: fit-content;
  height: fit-content;
  margin: 15px auto;
}

.loading-container {
  display: block;
  width: 100svw;
  margin: 10px;
}

.loading-spinner {
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #f3f3f3;
  border-top: 10px solid $color-golden;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
