@import "@/shared/shared.scss";

.pokemon-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5svh;
  margin-left: 25px;
}

.pokemon-card {
  animation-duration: 1s;
  animation-name: slidein;
  height: 400px;
  width: 20rem;
  color: $background-color;
  margin: auto;
}

@keyframes slidein {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

.pokemon {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokemon-text {
  margin: 0px;
  padding: 25px;
}

.pokemon-image {
  width: 12rem;
  height: 12rem;
  padding: 0px;
  margin: 0px;
}

.pokemon-image-container {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin: 15px auto;
}
