@import "@/shared/shared.scss";

.pokemon-page-container {
  margin: 180px 0px;
  height: auto;
  display: flex;
  justify-content: center;
}

.pokemon-page-card {
  width: 85%;
  border-radius: 10svh;
  color: $background-color;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 70px 0px;
  font-size: $font-size;
  text-align: center;
  @media screen and (max-width: 400px) {
    width: 90%;
  }
}

.pokemon-page-img {
  background-color: rgba(0, 0, 0, 0.2);
  height: 20svh;
  border-radius: 15px;
  margin: 30px 10px;
}

.pokemon-page-text {
  margin: 5px 15px;
}

.range-view {
  background-color: $background-color;
  border-radius: 100rem;
  height: 5px;
  margin: 0 10px;
}

.pokemon-page-left-side {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 25px;
  @media screen and (max-width: 1580px) {
    width: 80%;
  }
}

.pokemon-page-data-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 45svw;
  @media screen and (max-width: 1580px) {
    width: 90svw;
  }
  @media screen and (max-width: 890px) {
    flex-direction: column;
  }
}

.pokemon-page-title {
  font-size: $big-font-size;
}
