@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
$color-blue: #3b4cca;
$color-yellow: #ffde00;
$color-golden: #b3a125;
$background-color: #dce9fc;
$font-size: 20px;
$small-font-size: 15px;
$big-font-size: 25px;

html,
body {
  margin: 0px;
  background-color: $background-color;
  font-family: "Rubik Mono One", monospace;
}

.loading-spinner {
  margin: auto;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
