.type-bug {
  background-color: #a6b91a;
}

.type-dark {
  background-color: #705746;
}

.type-dragon {
  background-color: #6f35fc;
}

.type-electric {
  background-color: #f7d02c;
}

.type-fairy {
  background-color: #d685ad;
}

.type-fighting {
  background-color: #c22e28;
}

.type-fire {
  background-color: #ee8130;
}

.type-flying {
  background-color: #a98ff3;
}

.type-ghost {
  background-color: #735797;
}

.type-grass {
  background-color: #7ac74c;
}

.type-ground {
  background-color: #e2bf65;
}

.type-ice {
  background-color: #96d9d6;
}

.type-normal {
  background-color: #a8a77a;
}

.type-poison {
  background-color: #a33ea1;
}

.type-psychic {
  background-color: #f95587;
}

.type-rock {
  background-color: #b6a136;
}

.type-steel {
  background-color: #b7b7ce;
}

.type-water {
  background-color: #6390f0;
}
